h1{
background: rgb(255,179,0);
background: radial-gradient(circle, rgba(255,179,0,1) 40%, rgba(142,0,0,1) 67%, rgba(0,0,0,1) 100%);
text-align: center;
font-size: 40px;
border-radius: 30px;
margin: 5px;
}
h2{
background: rgb(255,179,0);
background: radial-gradient(circle, rgba(255,179,0,1) 40%, rgba(142,0,0,1) 67%, rgba(0,0,0,1) 100%);
text-align: center;
font-size: 40px;
border-radius: 30px;
margin: 5px;
}
 body{
    background-color: black;
 }
 h3{
  background: rgb(255,179,0);
background: radial-gradient(circle, rgba(255,179,0,1) 40%, rgba(142,0,0,1) 67%, rgba(0,0,0,1) 100%);
text-align: center;
font-size: 40px;
border-radius: 30px;
margin: 5px;
}
 ul{
background: rgb(255,179,0);
background: radial-gradient(circle, rgba(255,179,0,1) 40%, rgba(142,0,0,1) 67%, rgba(0,0,0,1) 100%);
text-align: center;
font-size: 40px;
border-radius: 30px;
margin: 5px;
}
p{
background: rgb(255,179,0);
background: radial-gradient(circle, rgba(255,179,0,1) 40%, rgba(142,0,0,1) 67%, rgba(0,0,0,1) 100%);
text-align: center;
font-size: 40px;
border-radius: 30px;
margin: 5px;
}
